.cardContainer{
  width: 85%;
  min-height: 250px;
  text-align: center;
  margin: auto;
  .cardImage{
    width: 100%;
    height: auto;
  }

  h1{
    font-size: 1rem;
  }
}

.horizontalCardContainer{
  display: grid;
  grid-template-columns: 180px 600px;
  margin: auto;
  h1{
    font-size: 1rem;
  }
  .horizontalCardImage{
    margin: auto;
  }
  .horizontalCardContent{
    text-align: left;
  }
}