@import '../../common.scss';

.mainHeader{
  height: 100%;
  background-image: url('../../Images/top-section_2180x750.jpg');
  .headerContent{
    @extend %container;
    margin: auto;
    padding: 15%;

    width: 550px;
    text-align: center;
    color: #fff;

    .headerTitle{
      font-size: 30px;
      text-transform: capitalize;
      margin: auto;
    }

    .headerDescription{
      width: 450px;
      margin: 20px auto;
    }
  }
}